@page
@model LMS.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="loginpage">
    <h1>Login</h1>
    <form method="post" asp-page="Login">
        <table class="loginform">
            <tr>
                <td>Username</td>
                <td><input type="text" asp-for="@Model.Username" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" asp-for="@Model.Password" /></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Login" class="loginsubmit" />
    </form>
</div>