@page
@model LMS.Pages.UserHomeModel
@{
    ViewData["Title"] = "User Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username</h1>
</div>

<div class="card-container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h3>CS 3230</h3>
                <h4>Object Oriented User Interface Development with Java</h4>
            </div>
            <div class="card-info">
                <h5>Instructor:</h5>
                <h6>Professor A</h6>
                <h5>Meeting Location:</h5>
                <h6>Weber State Campus</h6>
                <h5>Meeting Time:</h5>
                <h6>Tuesday/Thursday 11:00AM-12:50PM</h6>
            </div>
            <input class="btn" type="submit" value="Drop Course" />
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h3>CS 1410</h3>
                <h4>Programming 1</h4>
            </div>
            <div class="card-info">
                <h5>Instructor:</h5>
                <h6>Professor B</h6>
                <h5>Meeting Location:</h5>
                <h6>Weber State Campus</h6>
                <h5>Meeting Time:</h5>
                <h6>Monday/Wednesday 9:00AM-10:50AM</h6>
            </div>
            <input class="btn" type="submit" value="Drop Course" />
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h3>CS 2420</h3>
                <h4>Introduction to Data Structures and Algorithms</h4>
            </div>
            <div class="card-info">
                <h5>Instructor:</h5>
                <h6>Professor C</h6>
                <h5>Meeting Location:</h5>
                <h6>Weber State Campus</h6>
                <h5>Meeting Time:</h5>
                <h6>Monday/Wednesday 5:00PM-6:50PM</h6>
            </div>
            <input class="btn" type="submit" value="Drop Course" />
        </div>
    </div>
</div>

