@page
@model LMS.Pages.Courses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.ID" />
            <div class="form-group">
                <label asp-for="Course.Number" class="control-label"></label>
                <input asp-for="Course.Number" class="form-control" />
                <span asp-validation-for="Course.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Department" class="control-label"></label>
                <input asp-for="Course.Department" class="form-control" />
                <span asp-validation-for="Course.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Description" class="control-label"></label>
                <input asp-for="Course.Description" class="form-control" />
                <span asp-validation-for="Course.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Location" class="control-label"></label>
                <input asp-for="Course.Location" class="form-control" />
                <span asp-validation-for="Course.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Days" class="control-label"></label>
                <input asp-for="Course.Days" class="form-control" />
                <span asp-validation-for="Course.Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Time" class="control-label"></label>
                <input asp-for="Course.Time" class="form-control" />
                <span asp-validation-for="Course.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CreditHours" class="control-label"></label>
                <input asp-for="Course.CreditHours" class="form-control" />
                <span asp-validation-for="Course.CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Capacity" class="control-label"></label>
                <input asp-for="Course.Capacity" class="form-control" />
                <span asp-validation-for="Course.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
